<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHqP5wEch8JNO29Coq8J5akNXAmYoqGFw</string>
	<key>GCM_SENDER_ID</key>
	<string>538452993948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agricplant.agriplant</string>
	<key>PROJECT_ID</key>
	<string>smart-india-hackathon-ccee1</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-india-hackathon-ccee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538452993948:ios:3b8e5a1a7a9be2541fca59</string>
</dict>
</plist>